{
    "presets":[
        ["es2015"], ["react"]
    ],
    "plugins": [
        
    ],
    "env":{
        "development": {
            "plugins": [
              "react-hot-loader/babel",
              "babel-plugin-styled-components",  {
                "ssr": true
              }
            ]
          },
        "production": {
            "presets": ["react-optimize"]
          }
    }
}