{
    "presets":[
        ["es2015"], ["react"]
    ],
    "plugins": [
        
    ],
    "env":{
        "development": {
            "plugins": [
              "react-hot-loader/babel"
            ]
          },
        "production": {
            "presets": ["react-optimize"]
          }
    }
}