{
    "parser": "babel-eslint",
    "parserOptions": {
      "sourceType": "module",
      "allowImportExportEverywhere": true
    },
    "extends": ["airbnb","plugin:react/recommended"],
    "env": {
      "browser": true,
      "node": true
    },
    "rules":{
      "import/no-unresolved": "error",
      "import/no-extraneous-dependencies": "off",
      "arrow-parens": ["off"],
      "compat/compat": "error",
      "consistent-return": "off",
      "comma-dangle": "off",
      "react/sort-comp": ["error", {
        "order": ["type-annotations", "static-methods", "lifecycle", "everything-else", "render"]
      }],
      "react/jsx-no-bind": "off",
      "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
      "react/prefer-stateless-function": "off",
      "react/jsx-indent": "warn",
      "react/jsx-uses-vars": ["warn"],
      "react/jsx-uses-react": 1,
      "linebreak-style": 0
    },
    "plugins": [
      "import",
      "promise",
      "compat",
      "react"
    ],
    "linebreak-style": [
      "warn",
      "windows"
    ],
    "settings": {
      "import/resolver": {
        "node": {
          "paths": ["app"]
        }
      }
    }
}
